
<div style="max-width:100vw; overflow:hidden">

<tui-scrollbar style="width: max-content;max-width:95vw; margin-top: .4rem; margin-left: 50%; transform: translateX(-50%)">
  <tui-island size="xs" style="display: flex; padding: .5rem; text-align: center;" [hoverable]="true">
    <tui-tag
	    class="tag"
	    size="l"
      style="background-color: #44c596; color: black"
	    status="custom"
	    value="🔥 Trendy Coins"
	  ></tui-tag>
    <div class="tui-island__content" *ngFor="let t of trendyCoins" style="margin-right: 1.5rem;" (click)="exploreCertainCoin(t.id)">
        <figure class="tui-island__figure trendy-coin">
            <tui-avatar [avatarUrl]="t.imgLarge" size="s" style="margin-right:.3rem" [rounded]="true"></tui-avatar>
            <div>
              <div class="tui-text_body-xs"><span style="font-weight: bold; color:#6788ff">{{t.symbol}} </span> #{{t.marketCapRank}}</div>
          </div>
        </figure>
    </div>
  </tui-island>

</tui-scrollbar>


<tui-island [hoverable]="true" style="margin: .3rem; width: 80vw; margin-left:50%;transform:translateX(-50%)">
<div class="container">
    <tui-loader
      class="tui-space_right-2"
      [showLoader]="isLoading"
      [inheritColor]="true"
      [overlay]="true"
    >
    <div class="tui-row tui-space_top-5 logo">
      <div><tui-avatar class="tui-space_top-1 coin-logo" size="l" [avatarUrl]="coinData?.image?.large"></tui-avatar></div>
      <h1 class="tui-text_body-xl">{{coinData?.name}}</h1>
      <div class="rank" *ngIf="coinData">
        <tui-tag
          class="tag"
          [hoverable]="true"
          status="primary"
          [value]="'Market Cap Rank  #' + coinData.coingecko_rank"
        ></tui-tag>
      </div>
    </div>
      <!-- <div class="tui-space_top-5 logo" style="display:flex; flex-direction:row; width:100%;">
        <tui-island style="width: 50%; height:100%; justify-content: center; text-align:center;" [hoverable]="true">
          <tui-avatar class="tui-space_top-1 coin-logo" style="margin-left:50%;transform:translateX(-50%)" size="l" [avatarUrl]="coinData?.image?.large"></tui-avatar>
          <h1 class="tui-text_body-xl">{{coinData?.name}}</h1>
          <div class="rank" *ngIf="coinData">
            <tui-tag
              class="tag"
              [hoverable]="true"
              status="primary"
              [value]="'Market Cap Rank  #' + coinData.coingecko_rank"
            ></tui-tag>
          </div>
          <ul class="tui-list" style="display:flex;">
            <li class="tui-list-item"><tui-island [hoverable]="true" style="width:max-content;height: 30px; padding:0;padding-right:.2rem;padding-left:.2rem;"><h5>General Score: <span style="color:var(--tui-link);font-weight:bold;display:block;">{{coinData?.coingecko_score}}</span></h5></tui-island></li>
            <li class="tui-list-item"><tui-island [hoverable]="true" style="width:max-content;height: 30px;padding:0;padding-right:.2rem;padding-left:.2rem;"><h5>Community Score: <span style="color:var(--tui-link); font-weight:bold;display:block;">{{coinData?.community_score}}</span></h5></tui-island></li>
            <li class="tui-list-item"><tui-island [hoverable]="true" style="width:max-content;height: 30px; padding:0;padding-right:.2rem;padding-left:.2rem;"><h5>Reddit Posts (48h): <span style="color:var(--tui-link); font-weight:bold;display:block;">{{coinData?.community_score}}</span></h5></tui-island></li>
          </ul>
        </tui-island>

      </div> -->
      <tui-axes class="axes" [verticalLines]="7" [horizontalLines]="6" *ngIf="value && yHeight">
        <tui-line-chart
            [x]="0"
            [y]="yMinHeight * .75"
            [width]="value.length - 1"
            [height]="yHeight * .75"
            [smoothingFactor]="50"
            [value]="value"
            [filled]="true"
            [xStringify]="stringify"
            [yStringify]="stringify"
        ></tui-line-chart>
      </tui-axes>
      <div class="coin-data">
        <div class="container-right">
          <tui-scrollbar class="box" *ngIf="coinData?.description.en">
            <div class="content" >
              <div [innerHTML]="coinData.description.en | sanitizeHtml"></div>
            </div>
          </tui-scrollbar>
        </div>
      </div>
    </tui-loader>
  </div>
</tui-island>

	<tui-editor
      [tools]="['undo', 'fontsize', 'bold', 'underline', 'italic', 'quote', 'link', 'image', 'foreColor']"
	    i18n
	    class="editor"
	    [(ngModel)]="model"
	>
	    Leave a comment
	</tui-editor>


</div>
