.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin: 0;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='2000' preserveAspectRatio='none' viewBox='0 0 2500 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1148%26quot%3b)' fill='none'%3e%3crect width='2500' height='2000' x='0' y='0' fill='rgba(32%2c 31%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1000.084C189.905%2c995.373%2c373.985%2c933.092%2c530.173%2c824.966C683.002%2c719.165%2c778.365%2c558.99%2c870.418%2c397.507C970.841%2c221.34%2c1095.762%2c46.007%2c1089.759%2c-156.684C1083.491%2c-368.31%2c974.19%2c-564.01%2c837.16%2c-725.403C699.239%2c-887.845%2c514.338%2c-996.903%2c314.214%2c-1070.115C103.594%2c-1147.167%2c-135.949%2c-1250.234%2c-339.379%2c-1155.819C-542.458%2c-1061.567%2c-575.936%2c-791.731%2c-694.624%2c-601.895C-792.009%2c-446.131%2c-961.941%2c-323.378%2c-974.417%2c-140.1C-986.716%2c40.572%2c-830.82%2c180.389%2c-759.2%2c346.715C-685.515%2c517.838%2c-688.569%2c730.164%2c-547.351%2c851.696C-401.107%2c977.554%2c-192.885%2c1004.869%2c0%2c1000.084' fill='%231b1a1a'%3e%3c/path%3e%3cpath d='M2500 3198.91C2721.161 3208.319 2887.849 3012.9030000000002 3075.7960000000003 2895.956 3266.884 2777.055 3542.983 2721.943 3611.215 2507.475 3680.386 2290.054 3485.457 2082.686 3402.105 1870.297 3338.643 1708.588 3275.774 1555.579 3180.61 1410.248 3071.295 1243.306 2990.35 1034.655 2805.578 959.297 2617.357 882.5319999999999 2402.22 946.607 2210.68 1014.667 2026.676 1080.049 1871.1190000000001 1196.9160000000002 1737.113 1338.954 1598.368 1486.016 1469.348 1648.0529999999999 1426.665 1845.6779999999999 1382.348 2050.867 1397.392 2273.138 1495.2350000000001 2458.861 1590.762 2640.188 1789.8310000000001 2726.7219999999998 1954.8519999999999 2848.266 2132.413 2979.047 2279.673 3189.536 2500 3198.91' fill='%23252424'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1148'%3e%3crect width='2500' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  */
}

.video {
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgb(41, 40, 40);
  padding: 1rem;
}

.left {
  position: absolute;
  overflow: hidden;
  /* background-color: #201f1f; */
  padding: 2rem;
  padding-top:.5rem;
  margin-top: 4%;
  z-index: 200;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px 1px rgb(41, 40, 40);
}
.content {
  width: min-content;
  margin-top: 7%;
  margin-left: 50%;
  transform: translateX(-50%);
}


.right {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.avatar {
  margin-top: 30%;
  opacity: .3;
  transition: .5s all;
}

.avatar:hover {
  opacity: 1;
  transform: translateX(.5rem);
}

.login {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

.email {
  width: 100%;
  margin-bottom: 1rem;
}

.birthdate {
  margin-bottom: 1rem;
}


.name {
  margin-bottom: 1rem;
}

.button-go-container {
  margin: 0;
}

.button-go {
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);

}
