.tabs-nav {
  /* padding-left: 1rem; */
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container_full {
  width: 100vw;
  height: 100vh;
}

.sidebar, .notifications{
  position: absolute;
}

a {
  list-style: none;
  color: var(--tui-text-01);
}

.notifications {
  right: 2.5rem;
  top: 4rem;
}
