<tui-theme-night></tui-theme-night>
<tui-root >

  <tui-tabs-with-more class="tabs-nav" [itemsLimit]="4" [(activeItemIndex)]="activeItemIndex" *ngIf="isAuthenticated">
    <a *tuiTab tuiTab routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact: true}">
      <tui-svg src="tuiIconAlignJustifyLarge" class="tui-space_right-2"></tui-svg> Home
    </a>
    <a *tuiTab tuiTab routerLink="/explore" routerLinkActive (click)="onCoinSelected(coinSelected)">
      <tui-svg src="tuiIconShowLarge" class="tui-space_right-2"></tui-svg> Explore
    </a>
    <a *tuiTab tuiTab routerLink="/portfolio" routerLinkActive >
      <tui-svg src="tuiIconChartLarge" class="tui-space_right-2"></tui-svg> Portfolio
    </a>
    <a *tuiTab tuiTab routerLink="/leagues" routerLinkActive >
      <tui-svg src="tuiIconCommentLarge" class="tui-space_right-2"></tui-svg> Leagues
    </a>
    <a *tuiTab tuiTab routerLink="/favorite" routerLinkActive >
      <tui-svg src="tuiIconStarLarge" class="tui-space_right-2"></tui-svg> Favorite
    </a>
    <a *tuiTab tuiTab routerLink="/settings" routerLinkActive >
      <tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg> Settings
    </a>
    <a *tuiTab tuiTab routerLink="/hello"  routerLinkActive >
      <tui-svg src="tuiIconLogoutLarge" class="tui-space_right-2"></tui-svg> Logout
    </a>
  </tui-tabs-with-more>

  <div>
    <app-sidebar (coinSelection)="onCoinSelected($event)" class="sidebar" *ngIf="isAuthenticated" style="position: fixed;z-index:200;"></app-sidebar>
    <router-outlet class="container_full"></router-outlet>
    <div class="container notifications" *ngIf="isAuthenticated" style="position: fixed;">
      <div class="tui-row">
        <div class="">
          <tui-island size="xs" textAlign="center" [hoverable]="true">
              <div class="tui-island__content">
                  <figure class="tui-island__figure">
                    <tui-badged-content
                      class="tui-space_right-1"
                      colorTop="var(--tui-success-fill)"
                      size="s"
                      [contentTop]="64"
                      [rounded]="true"
                    >
                      <tui-avatar class="tui-space_top-1" [avatarUrl]="'https://avatars.dicebear.com/4.5/api/avataaars/eweweewwwwweewweewewwweewdwe.svg'" [rounded]="true"></tui-avatar>
                    </tui-badged-content>
                  </figure>
              </div>
          </tui-island>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</tui-root>

