<tui-theme-night></tui-theme-night>
<tui-root >
  <tui-tabs-with-more class="tabs-nav" [itemsLimit]="4" [(activeItemIndex)]="activeItemIndex">
    <button *tuiTab tuiTab type="button">
        <tui-svg src="tuiIconShowLarge" class="tui-space_right-2"></tui-svg>
        <a routerLink="/explore" (click)="onCoinSelected(coinSelected)">Explore</a>
    </button>
    <button *tuiTab tuiTab type="button">
        <tui-svg src="tuiIconChartLarge" class="tui-space_right-2"></tui-svg>
        <a routerLink="/portfolio">Portfolio</a>
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconCommentLarge" class="tui-space_right-2"></tui-svg>
        <a routerLink="/leagues">Leagues</a>
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconStarLarge" class="tui-space_right-2"></tui-svg>
        <a routerLink="/favorite">Favorite</a>
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
        <a routerLink="/settings">Settings</a>
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconLogoutLarge" class="tui-space_right-2"></tui-svg>
        Logout
    </button>
  </tui-tabs-with-more>

  <div>
    <!-- <app-explore [coinData]="coinData | async" class="explore"></app-explore> -->
    <app-sidebar (coinSelection)="onCoinSelected($event)" class="sidebar"></app-sidebar>
    <router-outlet class="container_full"></router-outlet>
    <div class="container notifications">
      <div class="tui-row">
        <div class="">
          <tui-island size="s" textAlign="center" [hoverable]="true">
              <div class="tui-island__content">
                  <figure class="tui-island__figure">
                    <tui-badged-content
                      class="tui-space_right-1"
                      colorTop="var(--tui-success-fill)"
                      size="s"
                      [contentTop]="64"
                      [rounded]="true"
                    >
                      <tui-avatar class="tui-space_top-1" [avatarUrl]="'https://avatars.dicebear.com/4.5/api/avataaars/eweweewwwwweewweewewwweewdwe.svg'" [rounded]="true"></tui-avatar>
                    </tui-badged-content>
                  </figure>
                  <div>
                      <!-- <h3 class="tui-island__title">@raimonlpez97</h3> -->
                      <p class="tui-island__paragraph">
                          Hi, Rai!
                      </p>
                  </div>
              </div>
          </tui-island>
        </div>
      </div>
    </div>
  </div>
</tui-root>

