<tui-theme-night></tui-theme-night>
<tui-root >
  <tui-tabs-with-more class="tabs-nav" [itemsLimit]="4" [(activeItemIndex)]="activeItemIndex">
    <button *tuiTab tuiTab type="button">
        <tui-svg src="tuiIconShowLarge" class="tui-space_right-2"></tui-svg>
        Explore
    </button>
    <button *tuiTab tuiTab type="button">
        <tui-svg src="tuiIconChartLarge" class="tui-space_right-2"></tui-svg>
        Portfolio
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconCommentLarge" class="tui-space_right-2"></tui-svg>
        Leagues
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconStarLarge" class="tui-space_right-2"></tui-svg>
        Favorite
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
        Settings
    </button>
    <button *tuiTab tuiTab type="button" >
        <tui-svg src="tuiIconLogoutLarge" class="tui-space_right-2"></tui-svg>
        Logout
    </button>
  </tui-tabs-with-more>

  <div style="display: flex; justify-content: space-between;">
    <app-sidebar></app-sidebar>
    <app-explore></app-explore>
    <div class="container notifications">
      <div class="tui-row">
        <div class="">
          <tui-island size="s" textAlign="center" [hoverable]="true">
              <div class="tui-island__content">
                  <figure class="tui-island__figure">
                    <tui-badged-content
                    class="tui-space_right-1"
                    colorTop="var(--tui-success-fill)"
                    size="s"
                    [contentTop]="64"
                    [rounded]="true"
                    >
                      <tui-avatar class="tui-space_top-1" [avatarUrl]="'https://avatars.dicebear.com/4.5/api/avataaars/eweweewwwwweewweewewwweewdwe.svg'" [rounded]="true"></tui-avatar>
                    </tui-badged-content>
                  </figure>
                  <div>
                      <!-- <h3 class="tui-island__title">@raimonlpez97</h3> -->
                      <p class="tui-island__paragraph">
                          Hi, Rai!
                          <!-- <br>
                            Ready for the trade? -->

                      </p>
                      <!-- <button
                          tuiButton
                          type="button"
                          class="tui-island__footer-button"
                          appearance="flat"
                          size="s"
                      >
                         Activity
                      </button> -->
                  </div>
              </div>
          </tui-island>
        </div>
      </div>
    </div>
  </div>


</tui-root>
