<tui-marker-icon
  class="tui-space_right-2 search"
  mode="dark"
  (click)="toggle(true)"
  (tuiActiveZoneChange)="toggle($event)"
  src="tuiIconChartLineLarge"
>
  <div *tuiSidebar="open; direction: 'left'">
    <tui-scrollbar class="scroll" >

      <tui-select #select class="b-form select-currency" [(ngModel)]="value">
        Select VS currency
        <tui-data-list *tuiDataList>
            <tui-opt-group label="Cryptocurrencies" >
                <button *ngFor="let c of cryptocurrencies" tuiOption [value]="c.id" (click)="onSelect()">
                    <span style="color:#526ed3;">{{c.id}}</span> <span style="font-size:.75rem;">{{c.name}}</span>
                </button>
            </tui-opt-group>
            <tui-opt-group label="Bitcoin Units">
              <button *ngFor="let b of bitcoinUnits" tuiOption [value]="b.id" (click)="onSelect()">
                <span style="color:#526ed3;">{{b.id}}</span> <span style="font-size:.75rem;">{{b.name}}</span>
              </button>
            </tui-opt-group>
            <tui-opt-group label="Suggested Currencies">
              <button *ngFor="let s of suggestedCurrencies" tuiOption [value]="s.id" (click)="onSelect()">
                <span style="color:#526ed3;">{{s.id}}</span> <span style="font-size:.75rem;">{{s.name}}</span>
              </button>
            </tui-opt-group>
            <tui-opt-group label="Fiat Currencies">
              <button *ngFor="let f of fiatCurrencies" tuiOption [value]="f.id" (click)="onSelect()">
                <span style="color:#526ed3;">{{f.id}}</span> <span style="font-size:.75rem;">{{f.name}}</span>
              </button>
            </tui-opt-group>
            <tui-opt-group label="Commodities">
              <button *ngFor="let cc of commodities" tuiOption [value]="cc.id" (click)="onSelect()">
                <span style="color:#526ed3;">{{cc.id}}</span> <span style="font-size:.75rem;">{{cc.name}}</span>
              </button>
            </tui-opt-group>
        </tui-data-list>
      </tui-select>

      <tui-accordion [rounded]="false">
          <tui-accordion-item borders="top-bottom" *ngFor="let r of res" [size]="'s'">
            <tui-island class="crypto-name" [hoverable]="true" style="padding-left: .5rem;margin:0">
                <tui-avatar
                    class="tui-space_top-1"
                    [avatarUrl]="r.image"
                    size="s"
                    [rounded]="true"
                ></tui-avatar>
                <p>{{r.name}}</p>
            </tui-island>

              <ng-template tuiAccordionItemContent>
                <div style="display: flex; justify-content: space-evenly; margin-bottom:.5rem;" [hoverable]="true">
                  <tui-marker-icon
                  class="actions"
                  mode="error"
                  style="padding: 0; margin:0;cursor: pointer;"
                  size="xs"
                  src="tuiIconDislikeLarge"
                  (click)="onCoinSelectedForAction(r.id, 'dislike', r.image)"
                  ></tui-marker-icon>

                  <tui-marker-icon
                  class="actions"
                  mode="success"
                  style="padding: 0; margin:0;cursor: pointer;"
                  size="xs"
                  src="tuiIconLikeLarge"
                  (click)="onCoinSelectedForAction(r.id, 'like', r.image)"
                  ></tui-marker-icon>

                  <tui-marker-icon
                  class="actions"
                  mode="warning"
                  style="padding: 0; margin:0;cursor: pointer;"
                  size="xs"
                  src="tuiIconStarLarge"
                  (click)="onCoinSelectedForAction(r.id, 'fav', r.image)"
                  ></tui-marker-icon>

                  <tui-marker-icon
                  class="search"
                  mode="primary"
                  style="padding: 0; margin:0;cursor: pointer;"
                  size="xs"
                  src="tuiIconShowLarge"
                  (click)="onCoinSelectedForDetailView(r.id)"
                  ></tui-marker-icon>
                </div>


                <tui-island class="island">
                  <tui-line-clamp
                      [content]="content"
                      [lineHeight]="18"
                      [linesLimit]="4"
                  ></tui-line-clamp>
                </tui-island>
                <ng-template #content >
                    <div class="hint" style="text-align: center; margin-top:0" [hoverable]="true">
                      <ol>
                        <li>
                            <tui-money class="current_price" [value]="r.current_price" [currency]="value"> </tui-money>
                            &nbsp; &nbsp;
                            <tui-money *ngIf="r.price_change_percentage_24h !== null" class="current_price" [value]="r.price_change_percentage_24h" [colored]="true" currency="%"> </tui-money>
                        </li>
                        <hr style="margin:.3rem; margin-left:20%;margin-right:20%"/>
                        <li>
                          <span class="label-island">Market Cap: </span> <tui-money [value]="r.market_cap" [currency]="value"> </tui-money>
                        </li>
                        <!-- <hr style="margin:.3rem; margin-left:20%;margin-right:20%"/> -->
                        <li>
                          <span class="label-island">Circulating Supply: </span> <span style="font-size: .7rem;">{{(r.circulating_supply).toFixed(0)}}</span>
                        </li>
                        <!-- <hr style="margin:.3rem;margin-left:20%;margin-right:20%"/> -->
                        <li >
                          <span class="label-island">All-Time High: </span>
                            <tui-money [value]="r.ath" [currency]="value"></tui-money> / <tui-money [value]="r.ath_change_percentage" [colored]="true" currency="%"></tui-money>
                            <div class="date_high_low">
                              {{ r.ath_date | date }}
                            </div>
                        </li>
                        <!-- <hr style="margin:.3rem;margin-left:20%;margin-right:20%"/> -->
                        <li>
                          <span class="label-island">All-Time Low: </span>
                            <tui-money [value]="r.atl" [currency]="value"></tui-money> / <tui-money [value]="r.atl_change_percentage" [colored]="true" currency="%"></tui-money>
                            <div class="date_high_low">
                              {{ r.atl_date | date }}
                            </div>
                        </li>
                        <!-- <hr style="margin:.3rem;margin-left:20%;margin-right:20%"/> -->
                        <li *ngIf="r.low_24h !== null">
                          <span class="label-island">24h Low / 24h High: </span>
                            <tui-money [value]="r.low_24h" [currency]="value"></tui-money> / <tui-money [value]="r.high_24h" [currency]="value"></tui-money>
                        </li>
                        <!-- <hr style="margin:.3rem;margin-left:20%;margin-right:20%"/> -->
                        <li>
                          <span class="label-island">24 Hour Trading Vol: </span>
                            <tui-money [value]="r.total_volume" [currency]="value"></tui-money>
                        </li>
                      </ol>
                    </div>
                </ng-template>
              </ng-template>
          </tui-accordion-item>
      </tui-accordion>
      <tui-loader [overlay]="true" [showLoader]="loading">
      <div style="height: 170px;">
        <button
          tuiButton
          size="s"
          type="button"
          class="load-more"
          appearance="outline"
          (click)="loadMoreCrypto()"
        >
            Load More
        </button>
      </div>
      </tui-loader>

    </tui-scrollbar>
  </div>
</tui-marker-icon>

